<div class="expands">
  <div class="btn-group btn-group-lg" role="group" aria-label="Brackets" data-turbolinks="false">
    <% ["2v2", "3v3", "RBG"].each do |b| %>
      <% active = (@active_bracket && b[0] == @active_bracket[0]) ? "active" : "" %>
      <a href="/leaderboards/<%= b.downcase %>" type="button" class="btn btn-default <%= active %>" role="button"><%= b %></a>
    <% end %>
  </div>

  <% heading = @active_bracket ? "#{@active_bracket} Leaderboard" : "Select a Leaderboard" %>
  <h1 id="leaderboard-heading" data-default="<%= heading %>"><%= heading %></h1>

  <% if @active_bracket %>
    <h3>Showing <span id="leaderboard-display-count"><%= @leaderboard.size %></span> of <span id="leaderboard-total-count"><%= @total %></span></h3>
    <a href="/leaderboards/filter?leaderboard=<%= @bracket %>" type="button" class="btn btn-default" role="button">Filter</a>
    <button id="toggle-show-all" class="btn btn-default" type="button" data-text="Show All">Show All</button>
    <h5 id="leaderboard-scroll-msg">(or scroll down to view more)</h5>
    <%= render "layouts/leaderboard" %>
  <% end %>
</div>
