<h1><%= @heading %></h1>

<div>
	<div class="btn-group btn-group-lg" role="group" aria-label="Class">
		<% @classes.each do |c, s| %>
			<% active = (@class_slug && s == @class_slug) ? "active" : "" %>
			<a href="/talents/<%= urlify s %>" type="button" class="btn btn-default small-padding <%= active %>" role="button" title="<%= c %>"><img src="/images/classes/<%= s %>.png" class="img-responsive center" alt="<%= c %>"></a>
	  <% end %>
	</div>
</div>

<div class="margin-top-2em">
	<div class="btn-group btn-group-lg" role="group" aria-label="Spec">
		<% if @clazz %>
			<% @specs[@clazz].each do |spec| %>
				<% active = (@spec_slug && @spec_slug == spec.slug) ? "active" : "" %>
				<a href="/talents/<%= urlify @class_slug %>/<%= urlify spec.slug %>" type="button" class="btn btn-default small-padding <%= active %>" role="button" title="<%= spec.name %>"><img src="/images/icons/<%= spec.icon %>.png" class="img-responsive center" alt="<%= spec.name %>"></a>
		  <% end %>
	  <% end %>
	</div>
</div>
