<table class="table table-bordered table-condensed table-responsive table-hover table-sorted center" data-sortlist="[[2,1],[1,1],[0,0]]">
  <thead>
    <tr>
      <th>Realm</th>
      <% #<th>Region</th> TODO DISPLAY REGION %>
      <th>Count</th>
      <th>Percent</th>
    </tr>
  </thead>
  <tbody>
    <% percents = percent_counts @realms %>
    <% @realms.each do |r, c| %>
      <tr>
        <td>
        <% if @bracket && @region %>
          <a href="/realms/<%= @bracket %>/<%= @region.downcase %>/<%= urlify r.delete("'") %>"><%= r %></a>
        <% else %>
          <%= r %>
        <% end %>
        </td>
        <td><%= c %></td>
        <td><%= percents[r] %>%</td>
      </tr>
    <% end %>
  </tbody>
</table>