<table class="table table-bordered table-condensed table-responsive table-hover table-sorted center" data-sortlist="[[2,1],[1,1],[0,0]]">
  <thead>
    <tr>
      <th>Realm</th>
      <th>Region</th>
      <th>Count</th>
      <th>Percent</th>
    </tr>
  </thead>
  <tbody>
    <% percentHash = Hash.new %>
    <% @realms.each { |k, h| percentHash[k] = h[:count] } %>
    <% percents = percent_counts percentHash %>
    <% @realms.each do |k, h| %>
      <% r = h[:realm] %>
      <tr>
        <td>
        <% if @bracket %>
          <a href="/realms/<%= @bracket %>/<%= r.region.downcase %>/<%= urlify r.slug %>"><%= r.name %></a>
        <% else %>
          <%= r.name %>
        <% end %>
        </td>
        <td><%= r.region %></td>
        <td><%= h[:count] %></td>
        <td><%= percents[k] %>%</td>
      </tr>
    <% end %>
  </tbody>
</table>