<h1>Overview for <%= @bracket %></h1>
<table class="table table-bordered table-condensed table-responsive table-hover table-sorted center">
	<thead>
		<tr>
			<th>Faction</th>
			<th>Count</th>
			<th>Percent</th>
		</tr>
	</thead>
	<tbody>
		<% percents = percent_counts @factions %>
		<% @factions.each do |f, c| %>
			<tr>
				<td title="<%= f %>"><img src="/images/<%= f.downcase %>.png" class="img-responsive center" alt="<%= f %>"></td>
				<td><%= c %></td>
				<td><%= percents[f] %>%</td>
			</tr>
		<% end %>
	</tbody>
</table>

<table class="table table-bordered table-condensed table-responsive table-hover table-sorted center">
	<thead>
		<tr>
			<th>Race</th>
			<th>Count</th>
			<th>Percent</th>
		</tr>
	</thead>
	<tbody>
		<% percents = percent_counts @races %>
		<% @races.each do |r, c| %>
			<tr>
				<td title="<%= r %>">
					<% race_slug = slugify r %>
					<img src="/images/races/<%= race_slug %>_female.png" class="img-responsive center inline-block" alt="<%= r %> Female">
					<img src="/images/races/<%= race_slug %>_male.png" class="img-responsive center inline-block" alt="<%= r %> Male">
				</td>
				<td><%= c %></td>
				<td><%= percents[r] %>%</td>
			</tr>
		<% end %>
	</tbody>
</table>

<table class="table table-bordered table-condensed table-responsive table-hover table-sorted center">
	<thead>
		<tr>
			<th>Class</th>
			<th>Count</th>
			<th>Percent</th>
		</tr>
	</thead>
	<tbody>
		<% percents = percent_counts @classes %>
		<% @classes.each do |cl, c| %>
			<tr>
				<td title="<%= cl %>"><img src="/images/classes/<%= slugify cl %>.png" class="img-responsive center" alt="<%= cl %>"></td>
				<td><%= c %></td>
				<td><%= percents[cl] %>%</td>
			</tr>
		<% end %>
	</tbody>
</table>
