<%= render "audit_form" %>
<% if @player.nil? %>
  <h1><%= @player_name %> - <%= @realm_name %> (<%= @region %>)</h1>
<% else %>
  <h1 class="margin-top-0-25em margin-bottom-0-25em"><a href="<%= @player.armory_link %>" title="Armory"><%= @player_name %> - <%= @realm.name %> (<%= @region %>)</a></h1>
<% end %>

<% if @player.nil? %>
  <h1>Player not found</h1>
<% else %>
  <% if !@player.guild.nil? %>
    <h4 class="margin-0-25em">&lt;<%= @player.guild %>&gt;</h4>
  <% end %>
  <div class="margin-0-25em">
    <h4 class="inline-block margin-none slightly-smaller-font-size">ILVL:</h4>
    <h4 class="inline-block margin-none slightly-larger-font-size"><%= @player.ilvl %></h4>
    <h4 class="inline-block margin-none slightly-smaller-font-size margin-left-1em">Covenant:</h4>
    <% covenant = @player.covenant.nil? ? "None" : @player.covenant.name %>
    <% soulbind = @soulbind.nil? ? "No Soulbind" : @soulbind %>
    <h4 class="inline-block margin-none slightly-larger-font-size" title="<%= soulbind %>"><%= covenant %></h4>
    <h4 class="inline-block margin-none slightly-smaller-font-size margin-left-1em">Renown Level:</h4>
    <h4 class="inline-block margin-none slightly-larger-font-size"><%= @player.renown_level %></h4>
  </div>
  <div class="margin-0-5em">
    <% race_and_gender = "#{@player.race} #{@player.gender}".titleize %>
    <img src="/images/<%= @player.faction.downcase %>.png" class="img-responsive inline-block" alt="<%= @player.faction %>" title="<%= @player.faction %>">
    <img src="/images/races/<%= slugify @player.race %>_<%= @player.gender %>.png" class="img-responsive inline-block" alt="<%= race_and_gender %>" title="<%= race_and_gender %>">
    <a href="/pvp/<%= urlify @player.class %>"><img src="/images/classes/<%= slugify @player.class %>.png" class="img-responsive inline-block" alt="<%= @player.class %>" title="<%= @player.class %>"></a>
    <a href="/pvp/<%= urlify @player.class %>/<%= urlify @player.spec %>"><img src="/images/icons/<%= @player.spec_icon %>.png" class="img-responsive inline-block" alt="<%= @player.spec %>" title="<%= @player.spec %>"></a>
  </div>

  <h3 class="margin-top-0-25em">Character Ratings</h3>
  <table class="table table-bordered table-condensed table-responsive table-hover center">
    <thead>
      <tr>
        <th>Bracket</th>
        <th>Current Rating</th>
        <th title="Season Wins - Losses">W - L</th>
        <th class="hide-when-narrow" title="Season Win Percent">Win %</th>
        <th title="Highest ever rating on this character">Highest Rating</th>
      </tr>
    </thead>
    <tbody>
      <% ["2v2", "3v3", "RBG"].each do |b| %>
        <% ratings = @player.ratings[b.downcase] %>
        <% wins = ratings["wins"] %>
        <% losses = ratings["losses"] %>
        <% total = wins + losses %>
        <% win_ratio = total > 0 ? (wins.to_f / total * 100).round(1).to_s + "%" : "" %>
        <tr>
          <td><%= b %></td>
          <td><%= ratings["current_rating"] %></td>
          <td><span class="wins"><%= wins %></span>&nbsp;&#45;&nbsp;<span class="losses"><%= losses %></span></td>
          <td class="hide-when-narrow"><%= win_ratio %></td>
          <td title="<%= ratings["time"] %>"><%= ratings["high"] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="audit-results-panel center" role="tabpanel">

    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#tab-pane-titles" aria-controls="titles" role="tab" data-toggle="tab" data-fragment="titles">Seasonal Titles</a></li>
      <li role="presentation"><a href="#tab-pane-dates" aria-controls="dates" role="tab" data-toggle="tab" data-fragment="dates">Dates</a></li>
      <li role="presentation"><a href="#tab-pane-talents" aria-controls="talents" role="tab" data-toggle="tab" data-fragment="talents">Talents</a></li>
      <li role="presentation"><a href="#tab-pane-pvp-talents" aria-controls="pvp-talents" role="tab" data-toggle="tab" data-fragment="pvp-talents">PvP Talents</a></li>
      <li role="presentation"><a href="#tab-pane-conduits" aria-controls="conduits" role="tab" data-toggle="tab" data-fragment="conduits">Conduits</a></li>
    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="tab-pane-titles">
        <table class="table table-bordered table-condensed table-responsive table-hover center">
          <thead>
            <tr>
              <th>Title</th>
              <th>Season</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <% @player.titles.each do |t| %>
              <tr>
                <td title="<%= t.description %>"><%= t.name %></td>
                <td><%= t.season %></td>
                <td class="right-text"><%= Time.at(t.date / 1000).to_date.strftime("%-d %B %Y") %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <h5>(Season title data only available from Season 14 and later. May be account-wide depending if character has 'Display Only Character Achievements to Others' enabled or not)</h5>
      </div>

      <div role="tabpanel" class="tab-pane" id="tab-pane-dates">
        <table class="table table-bordered table-condensed table-responsive table-hover center">
          <thead>
            <tr>
              <th>Achievement</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <% @player.dates.each do |pa| %>
              <% achiev = pa.achievement %>
              <% date = Time.at(pa.raw_date / 1000).to_date.strftime("%-d %B %Y") %>
              <tr>
                <td>
                  <a href="https://www.wowhead.com/achievement=<%= achiev.id %>" target="_blank" class="no-a-style">
                    <div>
                      <img src="/images/icons/<%= achiev.icon %>.png" class="img-responsive inline" alt="<%= achiev.description %>">
                      <div class="inline"><%= achiev.name %></div>
                    </div>
                  </a>
                </td>
                <td class="right-text">
                  <% if pa.char_date.nil? %>
                    <div class="text-muted">(Earned on different character)</div>
                    <div class="text-muted"><%= date %></div>
                  <% else %>
                    <%= date %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div role="tabpanel" class="tab-pane" id="tab-pane-talents">
        <table id="talents-audit" class="table table-bordered table-condensed table-responsive table-hover center">
          <tbody>
            <% @player.talents.each do |talent| %>
              <tr>
                <td>
                  <a href="https://www.wowhead.com/spell=<%= talent[:spell_id] %>" rel="spell=<%= talent[:spell_id] %>&amp;lvl=60" target="_blank" class="no-a-style">
                    <img src="/images/icons/<%= talent[:icon] %>.png" class="img-responsive center" alt="<%= talent[:name] %>">
                    <div><%= talent[:name] %></div>
                  </a>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div role="tabpanel" class="tab-pane" id="tab-pane-pvp-talents">
        <table id="pvp-talents-audit" class="table table-bordered table-condensed table-responsive table-hover center">
          <tbody>
            <% @player.pvp_talents.each do |pvp_talent| %>
              <tr>
                <td>
                  <a href="https://www.wowhead.com/spell=<%= pvp_talent[:spell_id] %>" rel="spell=<%= pvp_talent[:spell_id] %>&amp;lvl=60" target="_blank" class="no-a-style">
                    <img src="/images/icons/<%= pvp_talent[:icon] %>.png" class="img-responsive center" alt="<%= pvp_talent[:name] %>">
                    <div><%= pvp_talent[:name] %></div>
                  </a>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div role="tabpanel" class="tab-pane" id="tab-pane-conduits">
        <table id="conduits-audit" class="table table-bordered table-condensed table-responsive table-hover center">
          <tbody>
            <% @player.conduits.each do |conduit| %>
              <tr>
                <td>
                  <a href="https://www.wowhead.com/spell=<%= conduit[:spell_id] %>" rel="spell=<%= conduit[:spell_id] %>" target="_blank" class="no-a-style">
                    <div><%= conduit[:name] %></div>
                  </a>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

  </div>

<% end %>