<h1><%= @heading %></h1>

<div id="results-class-selector" class="margin-top-2em">
  <%= render "layouts/class_selection" %>
</div>
<div id="spec-selector" class="margin-top-1em">
  <%= render "layouts/spec_selection", :use_anchors => true, :path => "pvp" %>
</div>

<div class="margin-top-2em">
  <%= render "layouts/results" if @class_id %>
  <h3 class="center results-note" data-turbolinks="false">Results above based on ALL <%= @class_and_spec %>s on the leaderboard of ANY bracket, <a href=<%= "/pvp/filter/results?class=#{params[:class]}&spec=#{params[:spec]}&show-filter=true" %>>filtering</a> is available to narrow the scope.</h3>
</div>
