<div id="solo-selection" class="expands">
  <div id="region" class="btn-group btn-group-lg btn-group-filter" role="group" aria-label="Region" zdata-toggle="buttons">
    <% Regions.list.each do |region| %>
      <% active = (region == @region) ? "active" : "" %>
      <% c = @class.nil? ? "" : "/#{urlify @class[:name]}" %>
      <% s = @spec.nil? ? "" : "/#{urlify @spec[:name]}" %>
      <a href="/leaderboards/solo/<%= "#{region}#{c}#{s}".downcase %>" class="btn region-btn <%= active %>"><%= region %></a>
    <% end %>
  </div>

  <%= render "layouts/class_selection" %>

  <div id="spec-selection">
    <% region = @region.nil? ? "us" : @region.downcase %>
    <%= render "layouts/spec_selection", :use_anchors => true, :path => "leaderboards/solo/#{region}" %>
  </div>
  <% heading = @spec ? "#{@title_region}#{@spec[:name]} #{@class[:name]} Solo Shuffle Leaderboard" : "Select a Class and Specialization" %>
  <h1 id="leaderboard-heading" data-default="<%= heading %>"><%= heading %></h1>

  <% if @leaderboard %>
    <h3>Showing <span id="leaderboard-display-count"><%= @leaderboard.size %></span> of <span id="leaderboard-total-count"><%= @total %></span></h3>
    <a href="/leaderboards/filter?leaderboard=<%= @bracket %>&region=<%= @region %>" type="button" class="btn btn-default" role="button">Filter</a>
    <button id="toggle-show-all" class="btn btn-default" type="button" data-text="Show All">Show All</button>
    <h5 id="leaderboard-scroll-msg">(or scroll down to view more)</h5>
    <%= render "layouts/leaderboard" %>
  <% end %>
</div>
