<h1><%= @heading %></h1>
<%= render "layouts/class_selection", :selected_slug => @class_slug, :base_path => "/glyphs" %>
<%= render "layouts/spec_selection", :selected_class_slug => @class_slug, :selected_spec_slug => @spec_slug, :base_path => "/glyphs" %>

<div class="margin-top-2em">
	<% if @major_counts %>
		<h3>Major Glyphs</h3>
		<%= render "glyph_count_table", :counts => @major_counts %>
	<% end %>
</div>

<div class="margin-top-2em">
	<% if @minor_counts %>
		<h3>Minor Glyphs</h3>
		<%= render "glyph_count_table", :counts => @minor_counts %>
	<% end %>
</div>