<div class="filter-row">
  <label for="class" class="btn-group-label" title="Player Class (required)">Class <span class="text-muted">(required)</span></label>
  <%= render "layouts/class_selection" %>
</div>

<div class="filter-row">
  <label for="specs" class="btn-group-label" title="Player Spec (required)">Spec <span class="text-muted">(required)</span></label>
  <%= render "layouts/spec_selection", :use_anchors => false %>
</div>

<div class="filter-row">
  <label for="leaderboards" class="btn-group-label" title="Currently on the leaderboard for the selected brackets">Leaderboard(s)</label>
  <div id="leaderboards" class="btn-group btn-group-lg btn-group-filter" role="group" aria-label="Leaderboards" data-toggle="buttons">
  <% active = @selected[:leaderboards].nil? ? "active" : "" %>
    <label class="btn <%= active %> unactivater leaderboards-any default-option" data-unactivate="leaderboards-btn">
      <input type="checkbox" autocomplete="off">ANY
    </label>
    <% ["2v2", "3v3", "RBG"].each do |leaderboard| %>
      <% active = (@selected[:leaderboards].include?(urlify(leaderboard)) if @selected[:leaderboards]) ? "active" : "" %>
      <label class="btn leaderboards-btn unactivater <%= active %>" data-value="<%= leaderboard %>" data-unactivate="leaderboards-any">
        <input type="checkbox" autocomplete="off"><%= leaderboard %>
      </label>
    <% end %>
  </div>
</div>

<div class="filter-row">
  <label for="regions" class="btn-group-label" title="Regions">Region(s)</span></label>
  <div id="regions" class="btn-group btn-group-lg btn-group-filter" role="group" aria-label="Regions" data-toggle="buttons">
    <% active = @selected[:regions].nil? ? "active" : "" %>
    <label class="btn <%= active %> unactivater regions-any default-option" data-unactivate="regions-btn">
      <input type="checkbox" autocomplete="off">ANY
    </label>
    <% Regions.list.each do |region| %>
      <% active = (@selected[:regions].upcase.include?(region) if @selected[:regions]) ? "active" : "" %>
      <label class="btn regions-btn unactivater <%= active %>" data-value="<%= region %>" data-unactivate="regions-any">
        <input type="checkbox" autocomplete="off"><%= region %>
      </label>
    <% end %>
  </div>
</div>

<%= render "layouts/faction_filter" %>
