<div class="filter-row">
  <label for="class" class="btn-group-label" title="Player Class (required)">Class <span class="text-muted">(required)</span></label>
  <%= render "layouts/class_selection" %>
</div>

<div class="filter-row">
  <label for="specs" class="btn-group-label" title="Player Spec (required)">Spec <span class="text-muted">(required)</span></label>
  <%= render "layouts/spec_selection", :use_anchors => false %>
</div>

<div class="filter-row">
  <label for="leaderboards" class="btn-group-label" title="Currently on the leaderboard for the selected brackets">Leaderboard(s)</label>
  <div id="leaderboards" class="btn-group btn-group-lg btn-group-filter" role="group" aria-label="Leaderboards" data-toggle="buttons">
  <% active = @selected[:leaderboards].nil? ? "active" : "" %>
    <label class="btn <%= active %> unactivater leaderboards-any default-option" data-unactivate="leaderboards-btn">
      <input type="checkbox" autocomplete="off">ANY
    </label>
    <% ["2v2", "3v3", "5v5", "RBG"].each do |leaderboard| %>
      <% active = (@selected[:leaderboards].include?(urlify(leaderboard)) if @selected[:leaderboards]) ? "active" : "" %>
      <label class="btn leaderboards-btn unactivater <%= active %>" data-value="<%= leaderboard %>" data-unactivate="leaderboards-any">
        <input type="checkbox" autocomplete="off"><%= leaderboard %>
      </label>
    <% end %>
  </div>
</div>

<div class="filter-row">
  <label for="factions" class="btn-group-label">Faction(s)</label>
  <div id="factions" class="btn-group btn-group-lg btn-group-filter" role="group" aria-label="Factions" data-toggle="buttons">
    <% active = @selected[:factions].nil? ? "active" : "" %>
    <label class="btn <%= active %> unactivater factions-any default-option" data-unactivate="factions-btn">
      <input type="checkbox" autocomplete="off">ANY
    </label>
    <% ["Alliance", "Horde"].each do |faction| %>
      <% active = (@selected[:factions].include?(urlify(faction)) if @selected[:factions]) ? "active" : "" %>
      <label class="btn factions-btn unactivater <%= active %>" data-value="<%= faction %>" data-unactivate="factions-any">
        <input type="checkbox" autocomplete="off"><%= faction %>
      </label>
    <% end %>
  </div>
</div>