<div class="filter-row">
  <label for="cr" class="btn-group-label">Minimum Current Rating</label>
  <div id="cr" class="input-group">

    <% if class_filter %>
      <div class="input-group-btn">
        <% txt = @selected[:"cr-bracket"] || "Bracket" %>
        <% txt.upcase! if (txt == "rbg" || txt == "any") %>
        <% active = @selected[:"cr-bracket"].nil? ? "" : "active" %>
        <button id="btn-cr-bracket" type="button" class="btn btn-default dropdown-toggle <%= active %>" data-toggle="dropdown" aria-expanded="false"><span id="cr-bracket" class="dropdown-text" data-value="<%= @selected[:"cr-bracket"] %>" data-default="Bracket"><%= txt %></span><span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
          <% ["2v2", "3v3", "RBG"].each do |bracket| %>
            <li data-target="cr-bracket" data-target-button="btn-cr-bracket" data-value="<%= bracket %>"><%= bracket %></li>
          <% end %>
          <li class="divider"></li>
          <li data-target="cr-bracket" data-target-button="btn-cr-bracket" data-value="any">ANY</li>
        </ul>
      </div>
    <% end %>

      <div class="input-group-btn">
        <% txt = @selected[:"current-rating"] || "Rating" %>
        <% active = @selected[:"current-rating"].nil? ? "" : "active" %>
        <button id="btn-current-rating" type="button" class="btn btn-default dropdown-toggle <%= active %>" data-toggle="dropdown" aria-expanded="false"><span id="current-rating" class="dropdown-text" data-value="<%= @selected[:"current-rating"] %>" data-default="Rating"><%= txt %></span><span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
          <% (2000..3200).step(100) do |rating| %>
            <li data-target="current-rating" data-target-button="btn-current-rating" data-value="<%= rating %>"><%= rating %></li>
          <% end %>
        </ul>
      </div>

    </div>
</div>

<div class="filter-row">
  <label for="activity" class="btn-group-label">Activity</label>
  <div id="activity" class="input-group">
    <span>Exclude players that have NOT logged in within the last</span>
    <div class="input-group-btn">
      <% txt = @selected[:"active-since"] || "" %>
      <% active = @selected[:"active-since"].nil? ? "" : "active" %>
      <button id="btn-active-since" type="button" class="btn btn-default dropdown-toggle <%= active %>" data-toggle="dropdown" aria-expanded="false"><span id="active-since" class="dropdown-text" data-value="<%= @selected[:"active-since"] %>" data-default=""><%= txt %></span><span class="caret"></span></button>
      <ul class="dropdown-menu" role="menu">
        <% (1..12).step(1) do |weeks| %>
          <li data-target="active-since" data-target-button="btn-active-since" data-value="<%= weeks %>"><%= weeks %></li>
        <% end %>
        <% (16..24).step(4) do |weeks| %>
          <li data-target="active-since" data-target-button="btn-active-since" data-value="<%= weeks %>"><%= weeks %></li>
        <% end %>
      </ul>
    </div>
    <span>weeks</span>
  </div>
</div>

<div class="filter-row">
  <label for="arena-achievements" class="btn-group-label">Arena Achievement(s)</label>
  <div id="arena-achievements" class="btn-group btn-group-lg btn-group-filter" role="group" aria-label="Arena Achievements" data-toggle="buttons">
    <% arena_achievements().each do |id, achievement| %>
      <% active = (@selected[:"arena-achievements"].include?(id.to_s) if @selected[:"arena-achievements"]) ? "active" : "" %>
      <label class="btn arena-achievements-btn <%= active %>" title="<%= achievement[:description] %>" data-value="<%= id %>">
        <input type="checkbox" autocomplete="off"><%= achievement[:name] %>
      </label>
    <% end %>
  </div>
</div>

<div class="filter-row">
  <label for="rbg-achievements" class="btn-group-label">Rated Battleground Achievement(s)</label>
  <div id="rbg-achievements" class="btn-group btn-group-lg btn-group-filter" role="group" aria-label="RBG Achievements" data-toggle="buttons">
    <% rbg_achievements().each do |id, achievement| %>
      <% active = (@selected[:"rbg-achievements"].include?(id.to_s) if @selected[:"rbg-achievements"]) ? "active" : "" %>
      <label class="btn rbg-achievements-btn <%= active %>" title="<%= achievement[:description] %>" data-value="<%= id %>">
        <input type="checkbox" autocomplete="off"><%= achievement[:name] %>
      </label>
    <% end %>
  </div>
</div>

<div class="filter-row">
  <label for="races" class="btn-group-label">Race(s)</label>
  <div id="races" class="btn-group btn-group-lg btn-group-filter" role="group" aria-label="Races" data-toggle="buttons">
    <% active = @selected[:races].nil? ? "active" : "" %>
    <label class="btn <%= active %> unactivater races-any default-option" data-unactivate="races-btn">
      <input type="checkbox" autocomplete="off">ANY
    </label>
    <% selected_races = @selected[:races].nil? ? "" : @selected[:races].split(" ") %>
    <% Races.names.each do |race| %>
      <% active = (selected_races.include?(urlify race) if @selected[:races]) ? "active" : "" %>
      <label class="btn races-btn unactivater <%= active %>" data-unactivate="races-any" data-value="<%= race %>">
        <input type="checkbox" autocomplete="off"><%= race %>
      </label>
    <% end %>
  </div>
</div>
