<div>
  <div id="class" class="btn-group btn-group-lg class-selector-group" role="group" aria-label="Classes" data-toggle="buttons">
    <% Classes.list.each do |slug, hash| %>
      <% active = urlify(slug) == params[:class] ? "active" : "" %>
      <label class="btn image-holder class-selector <%= active %>" title="<%= hash[:name] %>" data-value="<%= urlify slug %>">
        <input type="radio" autocomplete="off"><img src="/images/classes/<%= slug %>.png" class="img-responsive center" alt="<%= hash[:name] %>">
      </label>
    <% end %>
  </div>
</div>