<% fr = 0 %>
<% @leaderboard.each do |player| %>
  <% fr = fr + 1 %>
  <tr data-ranking="<%= player.ranking %>">
    <% filtered_ranking = @filtered ? "Filtered Ranking: #{fr}" : "" %>
    <td title="<%= filtered_ranking %>"><%= player.ranking %></td>
    <td><%= player.rating %></td>
    <td><a href="<%= player.armory_link %>"><%= player.name %></a></td>
    <td title="<%= player.faction %>"><img src="/images/<%= player.faction.downcase %>.png" class="img-responsive center" alt="<%= player.faction %>"></td>
    <% race_and_gender = "#{player.race} #{player.gender}".titleize %>
    <td title="<%= race_and_gender %>">
      <% race_slug = slugify player.race %>
      <img src="/images/races/<%= race_slug %>_<%= player.gender %>.png" class="img-responsive center inline-block" alt="<%= race_and_gender %>">
    </td>
    <td title="<%= player.class %>"><%= render "layouts/class_link", class_name: player.class %></td>
    <td title="<%= player.spec %>"><%= render "layouts/spec_link", class_name: player.class, spec_name: player.spec, spec_icon: player.spec_icon %></td>
    <td><span class="wins"><%= player.wins %></span>&nbsp;&#45;&nbsp;<span class="losses"><%= player.losses %></span></td>
    <td><%= player.win_ratio %>%</td>
  </tr>
<% end %>