<% fr = 0 %>
<% @leaderboard.each do |player| %>
  <% fr = fr + 1 %>
  <tr data-ranking="<%= player.ranking %>">
    <% filtered_ranking = @filtered ? "Filtered Ranking: #{fr}" : "" %>
    <td title="<%= filtered_ranking %>"><%= player.ranking %></td>
    <td><%= player.rating %></td>
    <td><a href="<%= player.armory_link %>" translate="no" target="_blank"><%= player.name %></a></td>
    <td class="show-when-wide">
      <% realm = Realms.list[player.realm_slug + @region] %>
      <a href="/realms/<%= @bracket %>/<%= @region.downcase %>/<%= urlify realm.slug %>" translate="no"><%= realm.name %></a>
    </td>
    <td title="<%= player.faction %>"><img src="/images/<%= player.faction.downcase %>.png" class="img-responsive center" alt="<%= player.faction %>"></td>
    <% race_and_gender = "#{player.race} #{player.gender}".titleize %>
    <td title="<%= race_and_gender %>">
      <% race_slug = slugify player.race %>
      <img src="/images/races/<%= race_slug %>_<%= player.gender %>.png" class="img-responsive center inline-block" alt="<%= race_and_gender %>">
    </td>
    <td title="<%= player.class %>"><a href="/pvp/<%= urlify player.class %>"><img src="/images/classes/<%= slugify player.class %>.png" class="img-responsive center" alt="<%= player.class %>"></a></td>
    <td title="<%= player.spec %>"><a href="/pvp/<%= urlify player.class %>/<%= urlify player.spec %>"><img src="/images/icons/<%= player.spec_icon %>.png" class="img-responsive center" alt="<%= player.spec %>"></a></td>
    <td class="show-when-extra-wide" translate="no"><%= player.guild %></td>
    <td class="hide-when-narrow"><span class="wins"><%= player.wins %></span>&nbsp;&#45;&nbsp;<span class="losses"><%= player.losses %></span></td>
    <td class="hide-when-narrow"><%= player.win_ratio %>%</td>
  </tr>
<% end %>