<nav class="navbar navbar-default">
	<ul class="nav navbar-nav">
		<li class="<%= is_active "/" %>"><a href="/">Home</a></li>
    <li class="dropdown <%= is_active "/pvp" %>" data-turbolinks="false">
      <a href="/pvp" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Talents&nbsp;<span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <% Classes.list.each do |slug, clazz| %>
        <li class="<%= is_active "/pvp/#{urlify slug}" %>"><a href="/pvp/<%= urlify slug %>"><%= clazz[:name] %></a></li>
        <% end %>
        <li class="divider"></li>
        <li class="<%= is_active "/pvp/filter" %>"><a href="/pvp/filter">Filter</a></li>
      </ul>
    </li>
    <li class="dropdown <%= is_active "/leaderboards" %>" data-turbolinks="false">
      <a href="/leaderboards" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Leaderboards&nbsp;<span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <% pathFormat = "/leaderboards/%{bracket}/%{region}" %>
        <% Regions.list.each do |region| %>
          <% ["2v2", "3v3", "RBG"].each do |bracket| %>
            <% path = pathFormat % {:bracket => urlify(bracket), :region => region.downcase} %>
            <li class="<%= is_active path %>"><a href="<%= path %>"><%= region %> <%= bracket %></a></li>
          <% end %>
          <li class="divider"></li>
        <% end %>
        <li class="<%= is_active "/leaderboards/filter" %>"><a href="/leaderboards/filter">Filter</a></li>
      </ul>
    </li>
    <li class="<%= is_active "/statistics" %>"><a href="/statistics">Statistics</a></li>
	</ul>
</nav>
