<nav class="navbar navbar-default">
	<ul class="nav navbar-nav">
		<li class="<%= is_active "/" %>"><a href="/">Home</a></li>
    <li class="dropdown <%= is_active "/pvp" %>">
      <a href="/pvp" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Classes <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <% Classes.list.each do |slug, clazz| %>
        <li class="<%= is_active "/pvp/#{urlify slug}" %>"><a href="/pvp/<%= urlify slug %>"><%= clazz[:name] %></a></li>
        <% end %>
        <li class="divider"></li>
        <li class="<%= is_active "/pvp/filter" %>"><a href="/pvp/filter">Filter</a></li>
      </ul>
    </li>
    <li class="dropdown <%= is_active "/leaderboards" %>" data-turbolinks="false">
      <a href="/leaderboards" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Leaderboards <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <% ["2v2", "3v3", "RBG"].each do |bracket| %>
        <li class="<%= is_active "/leaderboards/#{urlify bracket}" %>"><a href="/leaderboards/<%= urlify bracket %>"><%= bracket %></a></li>
        <% end %>
        <li class="divider"></li>
        <li class="<%= is_active "/leaderboards/filter" %>"><a href="/leaderboards/filter">Filter</a></li>
      </ul>
    </li>
    <li class="<%= is_active "/overview" %>"><a href="/overview">Overview</a></li>
	</ul>
</nav>