<table id="pvp-talents-table" class="table table-bordered table-condensed table-responsive table-hover table-sorted center" data-sortlist="[[1,1]]">
  <thead>
    <tr>
      <th>Talent</th>
      <th title="Percent that have selected this talent">&percnt;</th>
    </tr>
  </thead>
  <tbody>
    <% pvp_talents.each do |id, pvp_talent| %>
      <tr>
        <td>
          <a href="https://www.wowhead.com/spell=<%= pvp_talent[:spell_id] %>" rel="spell=<%= pvp_talent[:spell_id] %>&amp;lvl=70" target="_blank" class="no-a-style">
            <div>
              <img src="/images/icons/<%= pvp_talent[:icon] %>.png" class="img-responsive inline" alt="<%= pvp_talent[:name] %>">
              <div class="inline"><%= pvp_talent[:name] %></div>
            </div>
          </a>
        </td>
        <td><%= pvp_talent[:percent] %></td>
      </tr>
    <% end %>
  </tbody>
</table>