<div class="results-panel center" role="tabpanel">

  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#tab-pane-class-talents" aria-controls="class-talents" role="tab" data-toggle="tab" data-fragment="class-talents">@class_name Talents</a></li>
    <li role="presentation"><a href="#tab-pane-spec-talents" aria-controls="spec-talents" role="tab" data-toggle="tab" data-fragment="spec-talents">@spec_name Talents</a></li>
    <li role="presentation"><a href="#tab-pane-pvp-talents" aria-controls="pvp-talents" role="tab" data-toggle="tab" data-fragment="pvp-talents">PvP Talents</a></li>
    <li role="presentation"><a href="#tab-pane-gear" aria-controls="gear" role="tab" data-toggle="tab" data-fragment="gear">Gear</a></li>
    <li role="presentation"><a href="#tab-pane-stats" aria-controls="stats" role="tab" data-toggle="tab" data-fragment="stats">Stats</a></li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="tab-pane-class-talents">
      <%= render "layouts/talents_table", :label => "class", :talents => class_talent_counts_table(@class_id) %>
    </div>
    <div role="tabpanel" class="tab-pane" id="tab-pane-spec-talents">
      <%= render "layouts/talents_table", :label => "spec", :talents => spec_talent_counts_table(@spec_id) %>
    </div>
    <div role="tabpanel" class="tab-pane" id="tab-pane-pvp-talents">
      <%= render "layouts/pvp_talents_table", :pvp_talents => pvp_talent_counts_table(@spec_id) %>
    </div>
    <div role="tabpanel" class="tab-pane" id="tab-pane-gear">
      <%= render "layouts/gear_table", :gear => @gear %>
    </div>
    <div role="tabpanel" class="tab-pane" id="tab-pane-stats">
      <%= render "layouts/stats_table", :counts => @stat_counts %>
    </div>
  </div>

  <%= render "layouts/last_updated" %>
</div>