<table id="<%= label.downcase %>-talents-table" class="table table-bordered table-condensed table-responsive table-hover table-sorted center" data-sortlist="[[1,1]]">
  <thead>
    <tr>
      <th>Talent</th>
      <th title="Percent that have selected this talent">&percnt;</th>
    </tr>
  </thead>
  <tbody>
    <% talents.each do |id, talent| %>
      <tr>
        <td>
          <a href="https://www.wowhead.com/spell=<%= talent[:spell_id] %>" rel="spell=<%= talent[:spell_id] %>" target="_blank" class="no-a-style">
            <div>
              <img src="/images/icons/<%= talent[:icon] %>.png" class="img-responsive inline" alt="<%= talent[:name] %>">
              <div class="inline"><%= talent[:name] %></div>
            </div>
          </a>
        </td>
        <td><%= talent[:percent] %></td>
      </tr>
    <% end %>
  </tbody>
</table>