<table id="talent-build" class="table table-bordered table-condensed table-responsive center">
  <tbody>
    <% (0..6).each do |t| %>
      <tr>
        <% (0..2).each do |c| %>
          <% k = "#{t}-#{c}" %>
          <% talent = talents[k] %>
          <% highest = talent[:highest] ? "most-selected" : "" %>
          <td id="<%= k %>" class="<%= highest %>">
            <a href="https://www.wowhead.com/spell=<%= talent[:id] %>" rel="spell=<%= talent[:id] %>&amp;lvl=100" target="_blank" class="no-a-style">
              <img src="/images/icons/<%= talent[:icon] %>.png" class="img-responsive center" alt="<%= talent[:name] %>">
              <div><%= talent[:name] %></div>
              <div><%= talent[:percent] %>%</div>
            </a>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
