<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<% title = @title ? "#{@title} | PvPLeaderboard" : "WoW PvP Leaderboard" %>
<title><%= title %></title>
<meta name="author" content="Matthew Frost"/>
<meta name="description" content="<%= @description %>"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="NOODP">
<%= render "layouts/twitter_tags" %>
<%= render "layouts/og_tags" %>
<link href="//fonts.googleapis.com/css?family=Caudex" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
<%= stylesheet_link_tag    "application", media: "all" %>
<%= javascript_include_tag "application" %>
<script src="//wow.zamimg.com/widgets/power.js" async></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js" async></script>
<%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/navbar" %>
<%= yield %>
<%= render "layouts/footer" %>
<%= render "layouts/analytics" %>

</body>
</html>
