<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title><%= @title %></title>
<meta name="author" content="Matthew Frost"/>
<meta name="description" content="<%= @description %>"/>
<meta name="keywords" content="World of Warcraft, WoW, PvP, Arena, Rated Battleground, Leaderboard"/>
<meta name=viewport content="width=device-width, initial-scale=1">
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
